:root {
    --book-clr: #fafaf9;
    --confirm-clr: #86efac;
    --error-clr: #ef4444;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.add-books {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}


.book {
    background-color: var(--book-clr);
    display: grid;
    border-radius: 15px;
    padding: 15px;
    grid-template-rows: repeat(4, 1fr);
}

.bookInformation {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
}

.status-btn {
    background-color: var(--error-clr);
}

.status-btn.read {
    background-color: var(--confirm-clr);
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    z-index: 1;
    content: "";
    height: 100vh;
    width: 100vw;
    opacity: 100%;
}

.overlay::before {
    content: "";
    position: absolute;
    opacity: 10%;
    height: 100%;
    width: 100%;
    background-color: #4c4a4a;
}

.hidden {
    z-index: -1;
    visibility: hidden;
    position: absolute;
}

.form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    position: sticky;
    top: 0px
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label:not(label[for="isRead"]) {
    visibility: hidden;
    position: absolute;
}

form button {
    align-self: stretch;
}


.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

.close-btn {
    height: 15px;
    width: 15px;
    padding: 3px;
    margin-left: 5px;
    line-height: 0px;
}

footer {
    position: auto;
    justify-content: center;
    display: flex;
    gap: 5px;
    margin-top: auto;
    position: sticky;
    bottom: 0%;
}

footer i {
    color: black;
}
